svg{
    box-shadow: 0px 12px 28px -7px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 12px 28px -7px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 12px 28px -7px rgba(0,0,0,0.75);
border-radius: 50%;
}

svg:hover{
    box-shadow: 0px 25px 50px -5px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 25px 50px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 25px 50px -5px rgba(0,0,0,0.75);
border-radius: 50%;
transition: 0.4s;
}